<p>admin works!</p>
<br>
<p>Buttons to test if API service is working well, use console to validate.</p>
<button (click)="addProduct()">add product</button>
<button (click)="getOneProduct()">get one product</button>
<button (click)="deleteProduct()">delete product</button>
<button (click)="updateProduct()">update product</button>
<button (click)="getUsers()">get all users</button>
<br>
<p>for now use the url path to navigate to other pages;</p>
<p>/login, /admin, /users, /products, /products/:id <p>

<app-dashboard></app-dashboard>
