.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #457b9d;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100; 
}

.admin-header h1 {
  margin: 0 2.5rem;
  font-size: 1.8rem;
}

.logout-button {
  background-color: #4e5155;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #457b9d;
}


.admin-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
  padding-top: 60px; 
}

.nav-bar {
  width: 250px;
  background-color: #457b9d;
  padding: 2rem;
  position: fixed;
  top: 60px; 
  left: 0;
  height: calc(100% - 60px);
  color: white;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
}

.nav-bar li {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-bar li:hover,
.nav-bar li.active {
  background-color: #4a5568;
}


.main-content {
  margin-left: 250px;
  padding: 2rem;
  width: calc(100% - 250px);
  background-color: #f7f9fc;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .admin-container {
    flex-direction: column;
    padding-top: 80px;
  }

  .nav-bar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 80px; 
    left: -250px;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .nav-bar.open {
    left: 0;
  }

  .nav-bar ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .nav-bar li {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 0rem;
    left: 1rem;
    font-size: 2rem;
    color: white;
    z-index: 1100;
  }

  .burger-menu span {
    display: block;
    font-size: 2.5rem;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    transition: margin-left 0.3s ease;
  }

  .nav-bar.open + .main-content {
    margin-left: 250px;
  }
}
