<div *ngIf="activeView == 'login'" class="login-container">
  <div class="header">
    <h1>4admin</h1>
    <p>Admin Panel Login</p>
  </div>

  <div class="login-form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="f.email.touched && f.email.invalid">
          <small *ngIf="f.email.errors?.['required']">Email is required</small>
          <small *ngIf="f.email.errors?.['email']">Invalid email format</small>
        </div>
      </div>

      <div>
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" />
        <div *ngIf="f.password.touched && f.password.invalid">
          <small *ngIf="f.password.errors?.['required']"
            >Password is required</small
          >
          <small *ngIf="f.password.errors?.['minlength']"
            >Password must be at least 6 characters</small
          >
        </div>
      </div>

      <button
        type="submit"
        (click)="handleView()"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
<div *ngIf="activeView == 'admin'">
  <app-admin></app-admin>
</div>
