<p>users works!</p>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>johndoe</td>
        <td>johndoe&#64;example.com</td>
        <td>123-456-7890</td>
        <td>123 Elm St, Springfield</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Smith</td>
        <td>janesmith</td>
        <td>janesmith&#64;example.com</td>
        <td>098-765-4321</td>
        <td>456 Oak St, Metropolis</td>
      </tr>
    </tbody>
  </table>
</div>
