<p>users works!</p>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name.firstname }}</td>
        <td>{{ user.name.lastname }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <span>{{ user.address.number }} </span>
          <span>{{ user.address.street }}, </span>
          <span>{{ user.address.city }}</span>
        </td>
      </tr>
      <!-- <tr>
        <td>Jane</td>
        <td>Smith</td>
        <td>janesmith</td>
        <td>janesmith&#64;example.com</td>
        <td>098-765-4321</td>
        <td>456 Oak St, Metropolis</td>
      </tr> -->
    </tbody>
  </table>
</div>
